/* ABOUT ME */
.container-about {
    flex: 1;
    background-color: #fff;
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* ABOUT CONTENT */
.about-content {
    display: flex;           
    align-items: flex-start; 
    gap: 25px;
    flex-wrap: wrap;        
}

/* PHOTO */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #2c3e50;
    flex-shrink: 0;          
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* INFO GENERAL */
.profile-info {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}

/* NAME AND POSITION */
.name-position h3 {
    font-family: "JetBrains", monospace;
    color: #2c3e50;
    margin: 0;
    position: relative;
    top: 40px;
}

.name-position .position {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 0;

    position: relative;
    top: 35px;
}

/* SOCIAL NETWORKS */
.social-links {
    display: flex;
    flex: 1;
    gap: 10px;
    margin-top: 70px;
}

.social-links a {
    margin-right: 10px;
    font-size: 22px;  
    color: #2c3e50;
    transition: color 0.3s;
}


/* BIO */
.bio {
    font-family: "Quick", sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    width: 100%;
    margin-top: 20px; 
    text-align: left;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .about-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-about {
        margin: 15px;
        padding: 20px; 
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    .profile-info, .bio, .social-links, .name-position {
        text-align: center;
    }

    .social-links {
        display: flex;        
        justify-content: center; 
        margin-bottom: 15px; 
    }
}
